<h1 class="font-inter ap-t"><span>About The Lusaca Blog</span></h1>
<p class="font-ibm">
The Lusaca BlogはRuby on Railsを使って作られています。
</p>
<pre>
<code>
<span class="cmnt">#The environment of this site</span>

<span class="mark">Ruby</span>: <span class="value"><%= RUBY_VERSION %></span>
<code>
</pre>