<% content_for(:html_title) { 'About' } %>
<h1 class="font-inter ap-t"><span>About</span></h1>
<p class="font-ibm">
The Lusaca Blogは気ままにルサカが投稿をしていくブログです。
</p>
<pre>
<code>
<span class="cmnt">#The environment of this site</span>

<span class="mark">Ruby</span>: <span class="value"><%= RUBY_VERSION %></span>
<code>
</pre>