<% content_for(:html_title) { 'About' } %>
<h1 class="font-inter ap-t"><span>About</span></h1>
<p class="font-ibm">
The Lusaca Blogは気ままにルサカが投稿をしていくブログです。
<br>
内容等へのお問い合わせはTwitter（<a herf="https://twitter.com/Lusaca__" target="_blank">@Lusaca__</a>）へDMもしくは、lusaca.contact[at]gmail.com（[at]は@に変更）までお願いします。
</p>