<% content_for(:html_title) { 'Create a new tag' } %>
<h1 class="font-inter ap-t"><span>Create a new tag</span></h1>
<%= form_with model: @tag,local: true do |f| %>
<%= f.text_field :name,placeholder: "Tag name",class: "tag-field" %>
<%= f.text_area :descriptions,placeholder: "Tag descriptions",class: "tag-field font-ibm" %>
<div class="right">
    <%= f.submit "Make this tag",class:"btn-f" %>
</div>
<% end %>