<% content_for(:html_title) { @post.title } %>
<h1>
    <% if @post.title.include?("\n") %>
    <%= raw(@post.title.gsub!("\n","<br>")) %>
    <% else %>
    <%= @post.title %>
    <% end %>
</h1>
<%= markdown(@post.content).html_safe %>