/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
:root {
    --logo-font-family: 'IBM Plex Mono', monospace;
}


html,
body {
    margin: 0;
    background: #F9FAFA;
}

.turbolinks-progress-bar {
    height: 2px;
    background-color: #B8050B;
}

header {
    width: 100%;
    height: 79px;
    border-bottom: 1px solid #b5bdc4;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    .header-main {
        width: max-content;
        height: 80px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }

    .logo-area {
        flex: 0 0 auto;
        display: inline-block;

        a {
            text-decoration: none;
        }

        .logo {
            font-family: var(--logo-font-family);
            line-height: 80px;
            font-size: 20px;
            background: #B8050B;
            color: #fff;
            border-radius: 4px;
            padding: 10px 20px;
            font-weight: bold;
        }

        &:hover {
            .logo {
                text-decoration: underline;
            }
        }
    }

    nav {
        flex: 1 1 auto;
        display: inline-flex;
        display: block;

        .nav-logo-area {
            display: none;
        }

        ul {
            display: inline-flex;
            margin: 0;
            padding: 0 40px;
            width: max-content;
            flex: 0 0 auto;

            a {
                text-decoration: none;
                color: #000;
            }

            li {
                flex: 0 0 auto;
                line-height: 80px;
                list-style: none;
                font-family: var(--logo-font-family);
                padding: 0 20px;

                &:hover {
                    span {
                        border-bottom: 2px solid #B8050B;

                    }
                }
            }
        }

        .find_posts_area {
            flex: 0 0 auto;
            line-height: 80px;
            width: max-content;
            display: inline-block;
            margin-right: 0;

            input {
                background-color: #F9FAFA;
                border: 2px solid #b5bdc4;
                height: 27px;
                padding: 10px 20px;
                border-radius: 4px;
                padding-left: 50px;
                background: url("/assets/search.svg") 15px 13px no-repeat;
                background-size: 20px;
                font-family: "Inter", sans-serif;

                &:focus {
                    outline: none;
                    border: 2px solid #B8050B;
                    background-color: #fff;
                }

                &::placeholder {
                    color: #586069;
                    font-family: var(--logo-font-family);
                }
            }
        }
    }

    .menu-area {
        float: right;
        display: none;
    }
}

@media (max-width: 1060px) {
    header {
        height: 60px;
        width: 100vw;

        .header-main {
            width: 100%;
            height: 60px;

            .logo-area {
                margin-left: 10px;
                line-height: 60px;

                .logo {
                    font-size: 18px;
                    line-height: 60px;
                    font-weight: bold;
                }
            }

            .menu-area {
                position: fixed;
                top: 0;
                right: 10px;
                display: block;
                padding: 5px 0;
                z-index: 101;

                button {
                    color: #000;
                    background: none;
                    border: none;
                    width: 50px;
                    height: 50px;
                    font-size: 20px;
                    line-height: 60px;

                    &:focus {
                        outline: none;
                    }
                }
            }

        }

        nav {
            position: fixed;
            top: 61px;
            left: 0;
            height: max-content;
            width: 100%;
            background: #fff;
            display: none;
            z-index: 100;

            ul {
                display: block;
                height: max-content;
                margin-right: auto;
                margin-left: auto;
                width: 100%;
                padding-left: 0;

                li {
                    padding-left: 0;
                    flex: none;
                    width: 100%;
                    text-align: center;
                }
            }

            .find_posts_area {
                width: 100%;
                text-align: center;
                display: block;
            }

            .find_posts_area_focus {
                background: #fff;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 1000;
                border-bottom: 1px solid #b5bdc4;
            }
        }
    }
}

.btn-f {
    font-family: var(--logo-font-family);
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    background: #fff;
    color: #B8050B;
    border: #B8050B solid 2px;
    padding: 10px 20px;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        color: #fff;
        background: #B8050B;
    }

    &:focus {
        outline: none;
    }
}

main {
    margin-top: 100px;
    width: calc(95% - 20px);
    max-width: 1020px;
    margin-right: auto;
    margin-left: auto;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
}

footer {
    width: 100%;
    height: max-content;
    background: #F9FAFA;
    padding: 20px 0;
    text-align: center;

    .footer-logo-area {

        .logo {
            font-family: var(--logo-font-family);
            line-height: 80px;
            font-size: 20px;
            background: #B8050B;
            color: #fff;
            border-radius: 4px;
            padding: 10px 20px;
            font-weight: bold;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .copyright {
        font-family: var(--logo-font-family);
        text-align: center;
    } 
    a {
        color: #586069;
        text-decoration: none;
        margin-bottom: 5px;
        &:hover {
            text-decoration: underline;
        }
    }
}

.font-ibm {
    font-family: var(--logo-font-family);
}

.font-inter {
    font-family: 'Inter', sans-serif;
}

.ap-t {
    font-size: 48px;
    padding: 20px 0 20px 10px;
    margin: 0;

    span {
        border-bottom: dashed #b5bdc4 1px;
    }
}

.share-area {
    h3 {
        color: #586069;
        font-weight: 500;
        font-size: 25px;
        margin-bottom: 15px;
        text-align: center;

        span {
            border-bottom: #b5bdc4 dashed 1px;
        }

    }

    .share-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .btn-f {
            flex: 0 0 auto;
            margin-right: 10px;
            margin-left: 10px;
            margin-bottom: 10px;
            ion-icon {
                font-size: 25px;
                vertical-align: -5px;
                margin-right: 10px;
            }
        }
    }
}

@media (max-width: 1060px) {
    main {
        margin-top: 80px;
    }
}