// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.tp-posts {
    width: 100%;
    height: max-content;

    .post {
        width: calc(100% - 40px);
        height: max-content;
        padding-left: 20px;
        padding: 20px;

        img {
            width: 100%;
        }

        .created_at {
            color: #586069;
        }

        .tags {
            display: flex;

            a {
                flex: 0 0 auto;
                color: #586069;
                margin-right: 5px;
                text-decoration: none;

                .tag:hover {
                    border-bottom: 1px dashed #b5bdc4;
                }
            }
        }

        a {
            text-decoration: none;
        }

        h2 {
            font-weight: bold;
            color: #000;
            font-size: 35px;
            margin: 15px 0;

            &:hover {
                color: #0366d6;
                text-decoration: underline;
            }
        }
    }

}

@media (max-width: 1060px) {
    .tp-tags-cards-area {
        width: 100%;
        overflow-x: scroll;
        display: flex;
        flex-wrap: nowrap;
    }
}

.tp-tags {
    width: 100%;
    height: max-content;

    .tp-tags-cards-area {
        width: 100%;
        overflow-x: scroll;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        scrollbar-width: none;
        -ms-overflow-style: none;

        a {
            text-decoration: none;
        }

        .tag-card {
            flex: 0 0 auto;
            width: 246px;
            padding: 20px;
            margin: 24px;
            border: 1px solid #b5bdc4;
            border-radius: 4px;
            color: #000;

            &:hover {
                h3 {
                    text-decoration: underline;
                }
            }
        }
    }

    .tp-tags-cards-area::-webkit-scrollbar {
        display: none;
    }
}

.search_area {
    width: 95%;

    .search_field {
        width: calc(100% - 70px);
        background-color: #F9FAFA;
        border: 2px solid #b5bdc4;
        height: 27px;
        padding: 10px 20px;
        border-radius: 4px;
        padding-left: 50px;
        background: url("/apis/image?n=search") 15px 13px no-repeat;
        background-size: 20px;
        font-size: 20px;
        font-family: 'Inter', sans-serif;

        &:focus {
            outline: none;
            border: 2px solid #B8050B;
            background-color: #fff;
        }

        &::placeholder {
            color: #586069;
            font-family: var(--logo-font-family);
        }
    }
}

pre {
    padding: 20px;
    background: #1E1E1E;
    font-size: 20px;
    border-radius: 4px;
    color: #dcdcdc;
    .cmnt {
        color: #57a64a;
        font-style: italic;
    }
    .mark {
        color: #569cd6;
    }

    .value {
        color: #d69d85;
    }
}