// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.tp-posts {
    width: 100%;
    height: max-content;

    .post {
        width: calc(100% - 40px);
        height: max-content;
        padding-left: 20px;
        padding: 20px;

        img {
            width: 100%;
        }

        .created_at {
            color: #586069;
        }

        .tags {
            display: flex;

            a {
                flex: 0 0 auto;
                color: #586069;
                margin-right: 5px;
                text-decoration: none;

                .tag:hover {
                    border-bottom: 1px dashed #b5bdc4;
                }
            }
        }

        a {
            text-decoration: none;
        }

        h2 {
            font-weight: bold;
            color: #000;
            font-size: 35px;
            margin: 15px 0;

            &:hover {
                color: #0366d6;
                text-decoration: underline;
            }
        }
    }

}

.tp-tags {
    width: 100%;
    height: max-content;

    .tp-tags-cards-area {
        width: 100%;
        overflow-x: scroll;
        display: flex;
        scrollbar-width: none;
        -ms-overflow-style: none;

        a {
            text-decoration: none;
        }

        .tag-card {
            flex: 0 0 auto;
            width: 246px;
            padding: 20px;
            margin: 24px;
            border: 1px solid #b5bdc4;
            border-radius: 4px;
            color: #000;
            &:hover {
                h3 {
                    text-decoration: underline;
                }
            }
        }
    }

    .tp-tags-cards-area::-webkit-scrollbar {
        display: none;
    }
}