// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.editor-area {
    padding-top: 20px;

    .editor-tab {
        margin-top: 20px;
        width: 100%;
        display: flex;

        button {
            padding: 10px 20px;
            color: #B8050B;
            background: #fff;
            border: #B8050B 2px solid;
            flex: 0 0 auto;
            margin-left: 5px;
            margin-right: 5px;
            border-bottom: none;
            font-weight: bold;
            font-size: 16px;
            cursor: pointer;
            border-radius: 4px 4px 0 0;
            font-family: var(--logo-font-family);

            &:hover {
                color: #fff;
                background: #B8050B;
                text-decoration: underline;
            }

            &:focus {
                outline: none;
            }
        }

        .active {
            color: #fff;
            background: #B8050B;
        }
    }

    .content-preview {
        display: none;
    }

    .editor-post-title {
        width: 100%;
        font-size: 28px;
        font-weight: bold;
        border: none;
        &::before {
            font-family: var(--logo-font-family);
            content: "Title";
            color: #586069;
        }

        &:focus {
            outline: none;
            &::before {
                content: none;
            }
        }
    }

    .val-not-nil {
        &::before {
            content: none;
        }
    }

    .tag-field {
        width: 100%;
        font-size: 16px;
        font-weight: bold;
        border: none;
        font-family: var(--logo-font-family);
        margin-top: 10px;

        &:focus {
            outline: none;
        }
    }

    #editor {
        height: 700px;
        z-index: 1;
    }

    .post-btn-area {
        text-align: right;
        margin-top: 20px;
        display: block;
    }
}

pre code,p code {
    font-size: 20px;
    border-radius: 4px;
}

p code::first-line {
    background: #B8050B;
}

.post-thumbnail {
    width: calc(100% - 10px);
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.posts {
    width: calc(100% - 20px);
    height: max-content;

    a {
        text-decoration: none;
    }

    .post {
        width: calc(100% - 40px);
        height: max-content;
        padding-left: 20px;
        padding: 20px;

        h2 {
            font-weight: 500;
            color: #000;
            font-size: 28px;
            margin: 15px 0;
            &:hover {
                color: #0366d6;
                text-decoration: underline;
            }
        }
    }

}

.pagination {
    display: none;
}

.created_at {
    color: #586069;
}

.tags {
    display: flex;
    a {
        flex: 0 0 auto;
        color: #586069;
        margin-right: 5px;
        text-decoration: none;
        .tag:hover {
            border-bottom: 1px dashed #b5bdc4;
        }
    }
}

.post-title {
    margin: 15px 0;
    font-size: 45px;
}