// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.editor-area {
    padding-top: 20px;

    .editor-tab {
        margin-top: 20px;
        width: 100%;
        display: flex;

        button {
            padding: 10px 20px;
            color: #B8050B;
            background: #fff;
            border: #B8050B 2px solid;
            flex: 0 0 auto;
            margin-left: 5px;
            margin-right: 5px;
            border-bottom: none;
            font-weight: bold;
            font-size: 16px;
            cursor: pointer;
            border-radius: 4px 4px 0 0;
            font-family: var(--logo-font-family);

            &:hover {
                color: #fff;
                background: #B8050B;
                text-decoration: underline;
            }

            &:focus {
                outline: none;
            }
        }

        .active {
            color: #fff;
            background: #B8050B;
        }
    }

    .content-preview {
        display: none;
    }

    .editor-post-title {
        width: 100%;
        font-size: 28px;
        font-weight: bold;
        border: none;

        &::placeholder {
            font-family: var(--logo-font-family);
        }

        &:focus {
            outline: none;
        }
    }

    .tag-field {
        width: 100%;
        font-size: 16px;
        font-weight: bold;
        border: none;
        font-family: var(--logo-font-family);
        margin-top: 10px;

        &:focus {
            outline: none;
        }
    }

    #editor {
        height: 700px;
        z-index: 1;
    }

    .post-btn-area {
        text-align: right;
        margin-top: 20px;
        display: block;
    }
}

pre code {
    font-size: 20px;
    border-radius: 4px;
}