// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.ap-t {
    font-size: 48px;
    padding: 20px 0 5px 10px;
    margin: 0;

    span {
        border-bottom: dashed #b5bdc4 1px;
    }
}

.not-found {
    text-align: center;
    font-size: 20px;
    margin: 20px 0;
}